APP_ENV=dev
APP_SECRET=change_me_to_a_random_string
DEFAULT_URI=http://localhost:8080

APP_PORT=8080
API_KEY=dev

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=stockflow
MYSQL_USER=stockflow
MYSQL_PASSWORD=stockflow
MYSQL_PORT=3306

DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@database:3306/${MYSQL_DATABASE}?serverVersion=mariadb-11.8.0&charset=utf8mb4"
